*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    padding: 0px 0px;
}
a{
    font-size: large;
}
.navbar a:hover{
   font-weight: 700;
   border-bottom: 1px solid blue;
}
.navbar-brand{
    font-size: 1.5rem;
}
.mt-2{
   margin-right: auto;
}
.btn{
    margin-right: auto;
}
.effect{
    width: 600px;
    height: 600px;
    animation: animate 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes animate{
    0%{
    transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes animate{
    0%{
    transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.btn{
    border-radius: 20px;
}
.pic{
    width:auto;
    height: 300px;
}